[Unit]
Description=onionpass
After=network.target

[Service]
ExecStart=/onionpass -sshport 22 -httpport 80
Restart=always

DynamicUser=yes
Environment=ALL_PROXY=socks5://127.0.0.1:9050

[Install]
WantedBy=multi-user.target